.main-bg{
    background: url("../img/bg-journey.png");
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 1px;

}
.head{
    position: relative;
    height: 54px;
    background-color:  rgba(0, 0, 0, 0.41);
}
.logo{
    display: inline-block;
    font-family: Verdana, sans-serif;
    text-transform: uppercase;
    padding: 20px 0 0 81px;
    color:  #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
}
.logo:hover{
    color: #3cb878;;
}
.sp{
    position: absolute;
    box-sizing: border-box;
    top: 16px;
    right: 322px;
}
.icon{
    display: inline-block;
    width: 34px;
    height: 30px;
    background-image: url("../img/sp-img.png");
}
.icon.icon-cal{
    background-position: 0 0;
}
.icon-cal:hover{
    background-position: 0 -30px;
}
.icon.icon-forum{
    background-position: -34px 0;
}
.icon-forum:hover{
    background-position: -34px -30px;
}
.icon.icon-search{
    background-position: -68px 0;
}
.icon-search:hover{
    background-position: -68px -30px
}
.head-ifo{
    position: absolute;
    box-sizing: border-box;
    right: 54px;
    top: 20px;
    display: inline-block;
}
.head-ifo p{
    display: inline-block;
    font-family: Verdana,sans-serif;
    color:  #ffffff;
    font-size: 14px;
    padding: 1px 6px;
}
.log{
    font-family: Verdana,sans-serif;
    color:  #3cb878;
}
.sign-up{
    margin: 0 auto;
    width: 391px;
    padding: 30px 0;
}
.modal{
    background: #fff;
    border-radius: 10px;
    position: relative;
    padding: 29px 40px;
    box-sizing: border-box;
}
.shape{
    position: absolute;
    left: 0;
    top: 33px;
}
.head-mod p{
    display: inline-block;
    font-family: Verdana,sans-serif;
    color:  #434343;
    font-size: 20px;
}

.head-mod a{
    padding-left: 187px;
    font-family: Verdana, sans-serif;
    color:  #3cb878;
    font-size: 14px;
}
.button{
    margin-top: 20px;
    position: relative;
}
.fb{
    position: relative;
    width: 153px;
    height: 46px;
    border-radius: 3px;
    background-color:  #264b96;
    font-family: Verdana,sans-serif;
    color:  #ffffff;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
}
.go{
    position: relative;
    width: 153px;
    height: 46px;
    border-radius: 3px;
    background-color:  #c3412c;
    font-family: Verdana,sans-serif;
    color:  #ffffff;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
}
.fb i{
    position: absolute;
    font-size: 20px;
    left: 15px;
    top: 11px;
}
.go i{
    position: absolute;
    font-size: 20px;
    left: 15px;
    top: 11px;
}
.button p{
    text-align: center;
    padding-top: 15px;
    font-family: Verdana,sans-serif;
    color:  #848484;
    font-size: 14px;
}
.nav{
    margin-top: 10px;
}
.nav-bar{
    font-family: Verdana,sans-serif;
    font-size: 14px;
    color: #434343;
    margin-bottom: 10px;
    height: 33px;
    box-sizing: border-box;
    width: 100%;
    padding-left: 10px;
    border-radius: 3px;
    border: 1px solid lightgray;
    outline: none;
}
.nav-bar:focus{
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.21);
}
.nav p{
    display: inline-block;
    padding: 0 10px;
    font-family: Verdana,sans-serif;
    color:  #434343;
    font-size: 14px;
}
.nav a{
    font-family: Verdana,sans-serif;
    color:  #3cb878;
    font-size: 14px;
}
.create{
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px;
    height: 46px;
    font-family: Verdana,sans-serif;
    color: #ffffff;
    font-size: 16px;
    background: #3cb878;
    border-radius: 3px;
    outline: none;
}


